* {
    margin: 0;
    padding: 0;
}
.main {
    /* padding: 0 100px */
}
.banner {
    height: 655px;
    width: 100%;
    background-image: url("./images/fsn.jpg");
}
.banner h1 {
    font-size: 150px;
    color: rgb(146, 11, 56);
    font-family: 'Great Vibes', cursive;
    padding-top: 10%;
    padding-left: 0%;
    letter-spacing: 10px;
}
.cap {
    font-size: 280px;
    color: rgb(250, 8, 129);
}
.text p {
    font-size: 40px;
    margin: 50px 150px;
    color: rgb(134, 132, 132);
    font-family: 'Gideon Roman', cursive;   
}
button {
    background-color: rgb(231, 220, 214);
    border-radius: 7px;
    padding: 15px;
    
}
img {
    width: 100%;
}
.img-icon {
    display: inline-block;
    width: 200px;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
}
.img-selector {
    text-align: center;
}
.img-icon img {
    border-radius: 100px;
    border: 12px solid black;
}
.img-container {
    width: 60%;
    padding: 10px;
    background-color: black;
    text-align: center;
    margin: 0 auto;
}